# Over Sampling

## 1. Dataset
### 1.1 Load dataset

In [5]:
import numpy as np
import pandas as pd

from collections import Counter

from matplotlib import pyplot as plt
import seaborn as sns

from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

In [6]:
dataset = pd.read_csv('kodit.csv', encoding='euc-kr')

In [12]:
dataset = dataset.drop('Unnamed: 0',axis=1) 
dataset.head()

,고객번호,설립기간,상시직원수,기업규모코드,주요사업장담보제공여부,주사업장담보설정금액,주요사업장건물규모면적,주요사업장대지규모면적,주요사업장월세금액,주요사업장전세금액,...,운전자금합계금액,무역금융합계금액,할인어음합계금액,지급보증합계금액,시설대여합계금액,총차입금합계금액,평가일이후최초부실발생,최근매출실적,당기매출실적,전기매출실적
0,89718313,1,1,4,0,0.0,0,0,3500,35,...,20,0,0,0,0,20,0,971,994,0
1,90651146,5,4,4,0,0.0,250,848,1500,20,...,0,0,0,20,12,32,0,3054,3054,3960
2,90597406,5,11,4,0,0.0,0,0,6500,100,...,607,0,0,0,162,769,0,0,1611,0
3,86393317,1,3,4,0,0.0,213,493,6000,60,...,50,0,0,0,0,50,0,563,961,0
4,90603765,0,0,4,1,420.0,181,58,0,0,...,460,0,0,0,350,810,0,0,0,0

### 1.2 dataset info

In [14]:
dataset.shape

(63961, 25)

In [13]:
dataset.columns

Index(['고객번호', '설립기간', '상시직원수', '기업규모코드', '주요사업장담보제공여부', '주사업장담보설정금액',
       '주요사업장건물규모면적', '주요사업장대지규모면적', '주요사업장월세금액', '주요사업장전세금액',
       '주요사업장자가소유권리침해코드', '대표자소유권리침해구분코드', '대표자소유담보제공여부', '대표자소유담보설정금액',
       '평가모형코드', '운전자금합계금액', '무역금융합계금액', '할인어음합계금액', '지급보증합계금액', '시설대여합계금액',
       '총차입금합계금액', '평가일이후최초부실발생', '최근매출실적', '당기매출실적', '전기매출실적'],
      dtype='object')

In [15]:
X = dataset.drop('평가일이후최초부실발생',axis=1)  
X = X.drop('고객번호', axis=1)
y = dataset['평가일이후최초부실발생']

In [16]:
y.value_counts()

0    61463
1     2498
Name: 평가일이후최초부실발생, dtype: int64

In [17]:
print('부도 발생 회사 비율', 2498/len(X))

부도 발생 회사 비율 0.03905504917058833

+ Remark
    - class가 약 24:1로 매우 불균형
    
### 1.3 train test split

In [5]:
from sklearn.model_selection import train_test_split
# train set 80%, test set 20%
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.30, random_state=1333)

In [6]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(44772, 23)
(19189, 23)
(44772,)
(19189,)

## 2. Over sampling
- training set over sampling

In [7]:
oversample = RandomOverSampler(sampling_strategy='minority')
X_train, y_train = oversample.fit_resample(X_train, y_train)
print(Counter(y_train))

Counter({0: 43009, 1: 43009})

### save to csv file

In [9]:
X_train.to_csv('C:/Users/JI-HYEON/Desktop/ㄱㅂ/인공신경망과딥러닝/cnn/X_train.csv', sep=',', encoding='euc-kr')
X_test.to_csv('C:/Users/JI-HYEON/Desktop/ㄱㅂ/인공신경망과딥러닝/cnn/X_test.csv', sep=',', encoding='euc-kr')
y_train.to_csv('C:/Users/JI-HYEON/Desktop/ㄱㅂ/인공신경망과딥러닝/cnn/y_train.csv', sep=',', encoding='euc-kr')
y_test.to_csv('C:/Users/JI-HYEON/Desktop/ㄱㅂ/인공신경망과딥러닝/cnn/y_test.csv', sep=',', encoding='euc-kr')